# Node modules
node_modules/

# Build files
frontend/build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment
.env

# Mongo volume
mongo-data/

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
