# Node modules (backend y frontend)
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# MongoDB local volume
mongo-data/

# Entornos
.env

# React build
frontend/build/

# Sistema operativo
.DS_Store
Thumbs.db

# VSCode config (si usas este editor)
.vscode/

# Otros posibles temporales
*.log
*.swp

